	<!-- Content area -->
	<div class="ui container content">
		<div class="ui stackable doubling grid">
			<!-- Middle Content -->
			<div class="ten wide column">
				<div class="ui horizontal divider"><h2 class='ui teal header'>About us</h2></div>
				<div align="center">
					<p><b>Moderns Template</b> adalah free template siap pakai yang saya buat untuk di pakai, di modifikasi, dan di share kepada siapapun tetapi dengan tetap menyertakan alamat dan pembuat asli dari template ini yaitu saya sendiri di dalam file index, license.</p>
					<blockquote><h5>MUFICATA RTD SL</h5></blockquote>
				</div>
				<br>
				<div class="ui teal horizontal divider"><h3 class='ui teal header'>Sample History</h3></div>
				<p style='text-align:justify;'><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ex error natus, harum ipsum nam id cumque ut quasi esse, sed, suscipit accusamus rem! Doloremque tenetur fugit, non nisi harum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quas, explicabo quasi itaque a odio beatae tenetur veritatis consectetur. Quos vero libero beatae ea. Repellat odio illum laboriosam consectetur aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolores, similique quis assumenda, et mollitia nobis repellat? Ad eaque sapiente eos reprehenderit placeat quaerat, consequuntur, atque omnis consequatur ullam quod?
					<BR/>
					<BR/>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ex error natus, harum ipsum nam id cumque ut quasi esse, sed, suscipit accusamus rem! Doloremque tenetur fugit, non nisi harum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quas, explicabo quasi itaque a odio beatae tenetur veritatis consectetur. Quos vero libero beatae ea. Repellat odio illum laboriosam consectetur aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolores, similique quis assumenda, et mollitia nobis repellat? Ad eaque sapiente eos reprehenderit placeat quaerat, consequuntur, atque omnis consequatur ullam quod?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ex error natus, harum ipsum nam id cumque ut quasi esse, sed, suscipit accusamus rem! Doloremque tenetur fugit, non nisi harum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quas, explicabo quasi itaque a odio beatae tenetur veritatis consectetur. Quos vero libero beatae ea. Repellat odio illum laboriosam consectetur aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolores, similique quis assumenda, et mollitia nobis repellat? Ad eaque sapiente eos reprehenderit placeat quaerat, consequuntur, atque omnis consequatur ullam quod?</i></p>
				<br>
				<div class="ui horizontal divider">Our Clients</div>
				<!-- Slider Container -->
				<div class="ui container">
					<div class="ui centered stackable doubling grid">
						<div class="eight wide column">
							<div class="owl-carousel" id="multiple-slider">
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							    <div class="item"><img src="images/400x400.png"></div>
							</div>
						</div>
					</div>

	<!-- Content area -->
		




				</div>
			</div><!-- ./12col -->

			<!-- Right Sidebar -->

			<div class="six wide right aligned column">

				<div class="ui segments moderns" style='border: 2px solid teal; border-radius: 8px; margin-bottom:50px; background-color: teal; margin-left:50px; color:teal;'> 
					<div class="ui center aligned header segment">Contact us &nbsp;&nbsp;<i class='edit icon'></i></div>
						<div class="ui left aligned raised segment">
							<div class='ui form'>
								<%= form_tag advsearch_path, method: :get do |f|  %>
								<div class="ui teal field">Your Name
								<%= text_field_tag(:name, nil, class: '') %></div>
								<div class="ui teal field">Email
								<%= email_field_tag(:email, nil, class: '') %></div>
								<div class="ui teal field">Subject
								<%= text_field_tag :aubject, nil, class: '' %></div>
								<div class="ui teal field">Your message
								<%= text_area_tag :message, nil, class: '' %></div>
								<div><%= submit_tag 'Submit', class: "ui teal button" %></div>
								<% end %>
						</div><!-- ./form -->		
					</div><!-- ./segment -->
				</div><!-- ./segments -->

			</div><!-- ./4col -->
		</div>
	</div>

	