	<div class="ui container">
	<!-- Content area -->
	<div class="ui container content">
		<div class="ui stackable doubling grid">
			<!-- Middle Content -->
			<div class="twelve wide column">
				<div align="center">
					<p id="notice"><%= notice %></p>
					<div class="ui divider"></div>
					<div class="ui items">
						<div class="item" align="left">
							<div class="image">
								<img src="/images/400x400.png">
							</div>
							<div class="content">			
								<div class="ui teal large header"><strong> <%= @post.title %></strong></div>
								<div class="meta">
									<span><i class="calendar icon"></i> 10/04/2016 <i class="tag icon"></i> Javascript <i class="user icon"></i>  <strong>Author:</strong> 
									  <%= @post.name %></span>
								</div>
								<div class="description" align="justify"><strong>Content:</strong>
									<p>
									  <%= @post.content %>
									</p>
								</div>
								<div class="extra center aligned">
										<!-- /posts/:post_id/comments/ -->
									<%= link_to 'Edit', edit_post_path(@post), class: 'ui teal center floated button' %> 
									<%= link_to 'Back', posts_path, class: 'ui teal floated button' %>
								</div>					
							</div><!-- ./content -->		
						</div><!-- ./item -->

						<div class="ui divider"></div>
						<% @comments.each do |c| %>
						<div class="item" align="left">
							<p><i class="user icon"></i>   <strong><i> <%= c.commenter %></i></strong> </p>
							<p>&nbsp;&nbsp;&nbsp;   Comment: <strong>&nbsp;<%= c.body %></strong></p>
						</div><!-- ./item -->	
						<% end %>

						<div class="item" align="left">
							<div class="content">
									<%= link_to 'New comment', new_post_comment_path(@post), class: 'ui teal floated button' %> 
							</div><!-- ./content -->
						</div><!-- ./item -->

					</div><!-- ./items -->
				</div><!-- ./center -->
			</div><!-- ./twelve wide column left-Center Content -->

			<!-- Right Sidebar -->

			<div class="four wide column">
				<div class="ui segments moderns" style='border: 2px solid teal; border-radius: 8px; margin-bottom:50px; padding-bottom:20px; /*background-color: teal; */ margin-left:5px; color:teal;'>
					<div class="ui header segment">
						<div class="ui header center aligned segment">New Comment</div></div>
							<div class='ui form' style='padding: 5px 5px 5px 15px;'>
								<%= form_for ([@post, Comment.new]) do |f| %>
								<%= hidden_field_tag :post_id, @post.id %>
								<p><label>Your name:</label>
								<%= f.text_field :commenter, label: 'Your name', placeholder: "Your name", error: false %></p>
 								<p><label>Comment:</label>
 								<%= f.text_area :body, label: false, placeholder: "add comment", error: false, rows: 5, columns: 80 %></p>
 								<p></p>
 								<p><%= f.submit "Submit", class: 'ui teal center aligned button' %><br/></p>
								<% end %>			
						</div>
					</div><!-- ./segments -->
				</div><!-- ./4col -->
			</div><!-- ./grid -->
		</div><!-- ./content -->
	</div><!-- ./container -->


