<h2 class="ui left aligned gig header">Index of Gigs</h2>

	<!-- Content area -->
	<div class="ui container content">
		<table class="ui celled padded table">
		  <thead>
		    <tr><th class="single line">Title</th>
		    <th class="single line">Location</th>
		    <th class="single line">Budget</th>
		    <th class="single line">Category</th>
		    <th class="single line">Author</th>
 		    <th>Description</th>
		  </tr></thead>
		  
		  <tbody><% @gigs.each do |g| %>		  
		    <tr>
		      <td>
		        <h4 class="ui center aligned header"><div class='ui medium header'><%= link_to g.name, gig_path(g), :class => "" %></div></h4>
		      </td>
		      <td class="single line">
		        <%= g.location %>
		      </td>
		      <td>
		        <div class="right aligned"><%= g.budget %></div>
		      </td>
		      <td> <%= g.category.name %>
		      </td>
		      <td><%= g.user.username %></td>
		      </td>
		      <td><%= g.description %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
	</div><!-- ./container -->


